
<section class="col-md-4 mx-auto">
    <h2 class="test-center">Wallet User Registrattion</h2>
    <div class="alert alert-success" *ngIf="msg !=undefined"> {{msg}}</div>
    <div class="alert alert-danger" *ngIf="errorMsg != undefined" [innerHTML]="errorMsg">{{errorMsg}}</div>
    
    <form #frm="ngForm" (ngSubmit)="addAccount()">
        <div>UserID</div>
        <div><input type="number" name="userid" [(ngModel)]="walletuser.userId" required #modelaid="ngModel" class="form-control"></div>
        <div class="alert alert-danger" *ngIf="modelaid.invalid && modelaid.touched">UserID is required</div>

        <div>User Name</div>
        <div><input type="text" name="username" [(ngModel)]="walletuser.userName" required #mlcname="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="mlcname.invalid && mlcname.touched"> User Name is required</div>

        <div>Password</div>
        <div><input type="text" name="password" [(ngModel)]="walletuser.password" required #mlcname="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="mlcname.invalid && mlcname.touched"> Password is mandatory</div>


        <div>Phone Number</div>
        <div><input type="text" name="phoneno" [(ngModel)]="walletuser.phoneNumber" required #mlbal="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="mlbal.invalid && mlbal.touched"> Phone Number is required</div>

        <div>Login Name</div>
        <div><input type="text" name="loginname" [(ngModel)]="walletuser.loginName" required #mlcname="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="mlcname.invalid && mlcname.touched"> Login name is required</div>


        <div class="mt-2 text-center"><input type="submit" value="Register" [disabled]="!frm.valid" class="btn btn-danger"/> </div>
    </form>
</section>